/* styling play, pause and stop buttons */
.button {
    border-radius: 5px;
}

/* styling reset buttons */
.resetButton {
    border-radius: 5px;
    background-color: rgb(173, 138, 255);
}

/* styling skip, record and apply buttons */
.skipButton, .recordButton, .applyButton {
    border-radius: 5px;
    color: white;
    background-color: rgb(51, 55, 69);
    width: 115px;
}

/* styling apply buttons */
.applyButton {
    width: 130px;
}

/* styling reverse button */
.revButton {
    border-radius: 25px;
    width: 25px; height: 65px;
}

/* styling dropdowns */
.select {
    background-color: rgb(51, 55, 69);
    color: white;
}

/* styling base sliders */
.slider {
    appearance: none;
    border: 1px solid black;
}

/* styling the slider knobs */
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: rgb(51, 55, 69);
}

/* styling filter sliders */
.effectSlider {
    appearance: none;
    transform: rotate(-90deg);
    background-color: rgb(51, 55, 69);
    width: 70px;
}

/* styling the slider knobs */
.effectSlider::-webkit-slider-thumb {
    appearance: none;
    width: 5px;
    height: 20px;
    border: 1px solid black;
    background-color: rgb(192, 192, 192);
}